#grad1 {
    width: 100%;
    height: 110px;
    background-image: linear-gradient(40deg, red, yellow, green, blue, violet);
}
 #grad2 {
    width: 100%;
   height: 300px;
  background-image: repeating-linear-gradient(90deg, red ,orange 6%,limegreen 7% ,lightblue 8%);
 }

 #grad3 {
    width: 30%;
    height: 300px;
    background-image: radial-gradient(farthest-corner at 60% 55%, blue, green, yellow, orange 70%);

 }

 #grad4 {
    height: 200px;
    width: 200px;
    background-image: conic-gradient(from 180deg, red, yellow, green, blue, aqua, pink);
    border-radius: 30%;
 }
 