.card-shadow {
    display: inline-block;
    width: 300px;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.card-gradient {
    display: inline-block;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    background: linear-gradient(to bottom, #3498db, #1f587d);
    color: white;
}

.filtered-image {
    filter: brightness(80%) contrast(120%);
}

.tooltip-container {
    position: relative;
    display: inline-block;

}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: brown;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    z-index: 1;
    top: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.tooltip-container:hover .tooltip-text {
    transition: opacity 0.3s;
    visibility: visible;
    opacity: 1;
}