body {
  margin: 0;
  background-color: rgba(0, 128, 0, 0.4); 
}

.contenedor {
  display: flex; 
  width: 80%;
  height: 300px; 
  margin: 50px auto; 
}

.columna {
  flex: 1; 
  background-color: white;
  border: 2px solid black;
  padding: 20px; 
}