@font-face {
  font-family: 'icomoon';
  src:  url('/Ejercicios2.5/9b/fonts/icomoon.eot?e4vdhc');
  src:  url('/Ejercicios2.5/9b/fonts/icomoon.eot?e4vdhc#iefix') format('embedded-opentype'),
    url('/Ejercicios2.5/9b/fonts/icomoon.ttf?e4vdhc') format('truetype'),
    url('/Ejercicios2.5/9b/fonts/icomoon.woff?e4vdhc') format('woff'),
    url('/Ejercicios2.5/9b/fonts/icomoon.svg?e4vdhc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3 {
  font-size: 32px;
}

.icon-pacman {
color: orange;
}

.icon-home3:before {
  content: "\e902";
}
.icon-pacman:before {
  content: "\e916";
}