.contenedor {
            position: relative;
            display: inline-block;
        }

        .imagen {
            filter: blur(3px) grayscale(100%) sepia(100%);
  
        }

        .texto {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            font-weight: bold;
            color: white;
        }

        .modo1 { mix-blend-mode: overlay; }
        .modo2 { mix-blend-mode: difference; }
        .modo3 { mix-blend-mode: screen; }