* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #f2f2f2; 
    font-family: Arial, sans-serif;
}

.contenedor {
    width: 80%;
    margin: 30px auto;
    background-color: #ccc;
}



header {
    background-color: rgb(48, 50, 61);
    padding: 20px;
}

header h2 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.main {
    background-color: white; 
    width: 70%;
    float: left;
    padding: 20px;
}

aside {
    width: 30%;
    float: left;
    background-color: #e8c547; 
    padding: 20px;
    color: white;
}


footer {
    clear: both; 
    background-color: #4d5061; 
    color: white;
    padding: 15px;
    font-size: 14px;
}
